﻿@model PixelSnap_PassionProject.Models.ViewModels.GalleryEdit
@{
    ViewBag.Title = "Create";
}

@*<script src="~/Themes/ckeditor/ckeditor.js"></script>*@

<h2>Create Gallery</h2>

@using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="inputDiv">
        <label class="labelName">Gallery Name</label>
        <div class="inputBreak">
            <input id="GalleryName_New" name="GalleryName_New" />
        </div>
    </div>
    // THIS IS A HARD CODED CATEGORY DROPDOWN LIST BUT IN THE FUTURE i WANT TO CREATE ANOTHER MODEL AND CONTROLLER FOR 
    //THIS AND CONNET THIS TO GALLERY AND IAMGE MODELS
    <div class="inputdiv">
        <label class="labelname">Category</label>
        <div class="inputbreak">
            <select id="GalleryCategory" name="GalleryCategory" class="dropdwon" onchange="">
                <option value="Landscape">== Select Category ==</option>
                <option value="Landscape">Landscape</option>
                <option value="Portrait">Portrait</option>
                <option value="Wildlife">Wildlife</option>
                <option value="Wedding">Wedding</option>
                <option value="Macro">Macro</option>
                <option value="Fashion">Fashion</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>

    <div class="inputDiv">
        <label class="labelName">Gallery Description</label>
        <div class="inputBreak">
            <textarea id="GalleryDescription_New" name="GalleryDescription_New" Columns="1000" Rows="10" TextMode="multiline"></textarea>
           <!-- I WAS TRYIING TO PUT CKEDITOR FOR MY TEXT AREA BUT HAVING PROBLEMS AND ONLY DISPLAY HTML TAG ON MY VIEWS-->
            @*<script>
                    CKEDITOR.replace("GalleryDescription_New");
                </script>*@
        </div>
    </div>

    <div class="inputDiv">
        <label class="labelName">Upload Your Image</label>
        <div class="inputBreak">
            <input type="file" name="uploadImage" id="uploadImage" class="fileUpload" />
        </div>
    </div>

    <div class="inputDiv">
        <input type="submit" value="Create Gallery" class="submitButton" />
    </div>
}