﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pixel Snap</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link type="text/css" href="~/Content/pixelsnap.css" rel="stylesheet" />
    <!-- SUPPOSED TO BE FOR LIGHTBOX-->
    @*<link href="~/Themes/source/lightbox.css" rel="stylesheet">*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PixelSnap", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Galleries", "Index", "Gallery")</li>
                    <li>@Html.ActionLink("Share Images", "Index", "Image")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Pixel Snap | Developed and Designed by Enrina Wilms | All Rights Reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/view-image-modal.js"></script>
    <!--<script src="~/Scripts/featured-image-modal.js"></script>-->
    <!-- SUPPOSED TO BE FOR LIGHTBOX-->
    @*<script src="~/Themes/source/lightbox-plus-jquery.js"></script>
    <script src="~/Themes/source/lightbox.js"></script>*@
</body>
</html>
